.header {
    text-align: center;
    height: 200px;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    /*align-content: space-around;
    justify-content: space-between;
    flex-basis: calc(33.30% - 20px); 
    when we need it^*/
    
}

.tile {
    flex-basis: 30%;
    border: 2px solid white;
}